*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: aquamarine;
    padding: 16px 0;
}

header nav li
{
    list-style: none;
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    text-decoration: none;
    
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

section h2{
    border-bottom: 1px solid #26bd32;
    color: #0f7017;

}


section .container{
    margin-top: 16px;
}

.foto_capa{
    margin-right: 2px;
    max-width: 50%;
}

article img {
    max-width: 100%;   
}

#produto{
    list-style: none;
    display: block;

}

#produto {
    display: flex;
    
}

#produto .container{
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 1%;
    row-gap: 5%;
}

article {
    margin-left: 32px;
}

article button{
    background-color: aqua;
    padding: 8px 18px;
}

@media screen and (max-width: 375px) {
    .container{
        max-width: 90%;
    }
    #sobre .container{
        display: block;
    }
    .foto_capa{
        max-width: 100%;
    }

    #produto{
        display: block;
    }

    section .container{
        align-items: center;
        margin-top: 16px;
    }
}

@media screen and (min-width: 667px) and (max-width: 820px) {
    #sobre .container{
        max-width: 90%;
        display: block;
    }
    .foto_capa{
        max-width: 100%;
    }
    #produtos .container {
        display: block;
        /*row-gap: 5%;*/
    }

    #produto li {
        max-width: 33%;
    }
    
    #produto .container{
        display: block;
        width: 100%;
    }

    section .container{
        align-items: center;
        margin-top: 16px;
    }

    
}



